[Desktop Entry]
Type=Application
Name=Sweet Home 3D
Comment=Free interior design application to draw floor plans, arrange furniture on it and visit the results in 3D.
Exec="{{ install_dest_full }}/SweetHome3D" %f
Icon={{ install_dest_full }}/SweetHome3DIcon.png
Categories=Development;IDE
Terminal=false
StartupNotify=true
